<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Sorteo</title>
  <link rel="stylesheet" type="text/css" href="css/formulario.css"/>
</head>
<body>
  <form action="#" th:action="@{/createSorteo}" th:object="${sorteoDao}" method="post">
    <div th:if="${#fields.hasErrors('*')}"> 
      <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p> 
  </div>
 <p>Descripción<br> <input type="text" placeholder="descripcion" th:field="*{descripcion}"></p>
 <p>Fecha<br> <input type="text" placeholder="fecha" th:field="*{fecha}"></p>
 <p>Estado<br><div th:each="status : ${status}">
  <input name="status" type="radio" th:value="${status}"/><label for="status" th:text="${status.getDisplayStatus()}">Something is wrong !</label>
</div></p>
  <div>
    <button type="submit">Enviar</button>
    <button type="reset">Reset</button>
  </div>
</form>
<a href="/"><button id="return">Volver</button></a>
</body>
</html>
