<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrarse</title>
  <link rel="stylesheet" type="text/css" href="css/formulario.css"/>
</head>
<body>
  <form action="#" th:action="@{/createUser}" th:object="${userDao}" method="post">
    <div th:if="${#fields.hasErrors('*')}"> 
      <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p> 
  </div>
 <p>Nombre <br><input type="text" placeholder="nombre" th:field="*{nombre}"></p>
 <p>Primer Apellido <br><input type="text" placeholder="primerApellido" th:field="*{primerApellido}"></p>
  <p>Segundo Apellido <br><input type="text" placeholder="segundoApellido" th:field="*{segundoApellido}"></p>
  <p>Email <br><input type="email" placeholder="email" th:field="*{email}"></p>
  <p>ROL<br><div th:each="role : ${roles}">
    <input name="role" type="radio" th:value="${role}"/><label for="role" th:text="${role.getDisplayName()}">Something is wrong !</label>
  </div></p>
  
  <div>
  <button type="submit">Enviar</button>
  <button type="reset">Reset</button>
  </div>
</form>
<a href="/"><button id="return">Volver</button></a>
</body>
</html>
