<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrarse</title>
  <link rel="stylesheet" type="text/css" href="css/formulario.css"/>
</head>
<body>
  <form action="#" th:action="@{/createUser}" th:object="${userDao}" method="post">
 <p>Nombre <br><input type="text" placeholder="nombre" th:field="*{nombre}"></p>
 <p>Primer Apellido <br><input type="text" placeholder="primerApellido" th:field="*{primerApellido}"></p>
  <p>Segundo Apellido <br><input type="text" placeholder="segundoApellido" th:field="*{segundoApellido}"></p>
  <p>email <br><input type="email" placeholder="email" th:field="*{email}"></p>
  <div class="rol">
    <input type="radio" id="profesor" name="rol" value="Profesor">
    <label for="profesor">Profesor</label>
    <input type="radio" id="alumno" name="rol" value="Alumno">
    <label for="alumno">Alumno</label><br><br>

  </div>
  <div>
  <button type="submit">Enviar</button>
  <button type="reset">Reset</button>
  </div>
</form>
<a href="/"><button id="return">Volver</button></a>
</body>
</html>
