body {
  font-family: Arial, sans-serif;
  background-color: #F0F0F0;
}

h2 {
  font-size: 28px;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 50px;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  display: inline-block;
  padding: 10px;
  background-color: #4ca3af;
  border: solid 2px black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

a:hover {
  background-color: #22348d;
}
#return {
  background-color: #4ca3af;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: solid 2px black;
  transition: background-color 0.3s ease-in-out;
}

#return:hover {

  background-color: #ff21bc;
}